body, html {
    height: 100%;
    font-family: 'Futura PT', sans-serif;
}

#map {
    height: calc(100% - 50px);
    width: 100%;
    display: block;
    position: relative;
}

#header {
    z-index: 100;
    height: 50px;
    width: 100%;
}

.header {
    display: inline;
    margin: 5px;
}

#create-form {
    height: 90%;
    width: 40%;
    top: 0;
    float: right;
    padding: 15px;
}

.form-title {
    font-size: 24px;
}

input, button {
    margin-top: 10px;
}

.leaflet-control-layers-overlays {
    font-size: small;
}

#markdown-preview-divider {
    border-top-color: dimgray;
    margin-bottom: 5px;
    margin-top: 0;
    padding-bottom: 0;
}

.markdown-preview-title {
    font-weight: normal;
}

.markdown-preview {
    background-color: #eee;
}

#form-error-div {
    color: #CC1A1C;
}

.hidden {
    display: none;
}

dialog::backdrop {
  background-color: white;
  opacity: 50%;
}

.popup-footer {
    display: inline;
    align-content: center;
}

.popup-controls {
    padding-right: 5px;
    float: right;
}
