#map {
    height: 100%;
    width: 100%;
    position: relative;
    float: left;
    display: block;
}

#create-form {
    height: 90%;
    width: 40%;
    top: 0;
    float: right;
    padding: 15px;
}

.form-title {
    font-size: 24px;
}

input, button {
    margin-top: 10px;
}

.leaflet-control-layers-overlays {
    font-size: small;
}

#markdown-preview-divider {
    border-top-color: dimgray;
    margin-bottom: 5px;
    margin-top: 0;
    padding-bottom: 0;
}

.markdown-preview-title {
    font-weight: normal;
}

.markdown-preview {
    background-color: #eee;
}

#form-error-div {
    color: #CC1A1C;
}

.hidden {
    display: none;
}
