{% extends 'index.html' %}
{% block header %}
    <header>
        <div id="header row">
            <span class="inline-block ml-3 my-auto align-baseline text-xl" id="tagLine"></span>
            <span class="inline-block mr-3 my-auto align-baseline text-xs" id="apiVersion"></span>
            <span class="inline-block mx-3 my-auto align-middle text-lg" id="welcome-user"></span>
            <button id="logout-button" class="inline-block shadow-md my-auto mx-3 bg-teal-500 hover:bg-amber-300 focus:shadow-outline focus:outline-none text-white  font-bold py-2 px-4 rounded align-middle mx-2 float-right" onclick="localStorage.removeItem('username');localStorage.removeItem('token');">Log Out</button>
            <button id="login-link" class="inline-block shadow-md my-auto mx-3 bg-teal-500 hover:bg-amber-300 focus:shadow-outline focus:outline-none text-white  font-bold py-2 px-4 rounded align-middle mx-2 float-right" onclick="window.location.href='/login'">Log In</button>
<!--            <a href="/login" id="login-link" class="header one column">Log in.</a>-->

        </div>
    </header>
{% endblock %}
