{% extends 'base.html' %}
{% block header %}
    <div id="header row">
        <span class="inline-block ml-3 my-auto align-baseline text-xl" id="tagLine"></span>
        <span class="inline-block mr-3 my-auto align-baseline text-xs" id="apiVersion"></span>
        <span class="inline-block mx-3 my-auto align-middle text-lg" id="welcome-user"></span>
        <button id="logout-button" class="inline-block shadow-md my-auto mx-3 bg-teal-500 hover:bg-amber-300 focus:shadow-outline focus:outline-none text-white  font-bold py-2 px-4 rounded align-middle mx-2 float-right" onclick="localStorage.removeItem('username');localStorage.removeItem('token');">Log Out</button>
        <button id="login-link" class="inline-block shadow-md my-auto mx-3 bg-teal-500 hover:bg-amber-300 focus:shadow-outline focus:outline-none text-white  font-bold py-2 px-4 rounded align-middle mx-2 float-right" onclick="window.location.href='/login'">Log In</button>
<!--            <a href="/login" id="login-link" class="header one column">Log in.</a>-->
    </div>
{% endblock %}
{% block container %}
    <div id="map">
    </div>
    <dialog id="create-form-dialog" class="animate-pulse">
        <h1 class="form-title">Enter data for location</h1>
        <form method="POST" class="submit-marker" id="submit-marker">
            <div class="row">
                <span id="create-vs-edit-form" hidden>create</span>
                <span id="create-form-lat" hidden></span>
                <span id="create-form-lng" hidden></span>
                <label htmlFor="title">Title:</label>
                <input
                        type="text"
                        id="create-form-title-input"
                        name="title"
                        placeholder="Fox Theater"
                        class="u-full-width"
                />
            </div>
            <div>
                <label htmlFor="description" class="u-full-width">Description
                    :</label>
                <textarea
                        id="create-form-desc-input"
                        oninput="this.editor.update()"
                        name="description"
                        class="u-full-width"
                        placeholder="The Fox Theater is the best live music venue in the East Bay."
                ></textarea>
            </div>
            <div id="markdown-preview" class="markdown-preview">
                <label id="markdown-preview-title">Description preview:</label>
                <hr id="markdown-preview-divider">
                <div id="preview"></div>
            </div>
            <div>
                <label htmlFor="layer">Layer:</label>
                <input
                        type="text"
                        id="create-form-layer-input"
                        name="layer"
                        value="faves"
                />
            </div>
            <button type="reset" id="cancel-form-button">Cancel</button>
            <button type="submit" id="submit-form-button"
                    class="button-primary">Map it.</button>
            <div id="form-error-div"></div>
        </form>
        <script>
            function Editor(input, preview) {
                this.update = function () {
                    preview.innerHTML = markdown.toHTML(input.value);
                };
                input.editor = this;
                this.update();
            }
            var $ = function (id) { return document.getElementById(id); };
            new Editor($("create-form-desc-input"), $("preview"));
        </script>
    </dialog>
    <div>
        <script src="{{ url_for('static', filename='editing.js') }}"></script>
        <script>
            getMarkersAndDisplay();
        </script>
    </div>
    <div id="attributions" hidden>
            <a href="https://www.flaticon.com/free-icons/edit" title="edit icons">Edit icons created by Freepik - Flaticon</a>
            <a href="https://www.flaticon.com/free-icons/trash-can" title="trash can icons">Trash can icons created by Freepik - Flaticon</a>
            <a href="https://www.flaticon.com/free-icons/bin" title="bin icons">Bin icons created by Smashicons - Flaticon</a>
            <a href="https://www.flaticon.com/free-icons/burger" title="burger icons">Burger icons created by Freepik - Flaticon</a>
    </div>
{% endblock %}
