<html>
    <head>
        <link rel="shortcut icon"  href="{{ url_for('static', filename='favicon-32x32.png') }}">
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </head>
    <body class="bg-stone-50 text-zinc-800 p-5">
    <div class="container bg-stone-50 m-5">
        <div class="bg-stone-100 h-15 p-2 align-middle row" id="header">
            <span class="inline-block mx-3 my-auto align-middle text-sm" id="apiVersion">v0.0.1</span>
            <span class="inline-block mx-3 my-auto align-middle text-sm" id="tagLine">Make and save maps.</span>
            <span class="inline-block mx-3 my-auto align-middle text-xl" id="greeting">Welcome, gautam!</span>
            <button id="log-out" class="shadow my-auto mx-3 bg-teal-500 hover:bg-cyan-600 focus:shadow-outline focus:outline-none text-white  font-bold py-2 px-4 rounded align-middle mx-2 float-right">Log out</button>

        </div>
        <div id="main" class="bg-neutral-200">
            <p>paragraph</p>
            <h1>Header 1</h1>
            <h2>Header 2</h2>
            <h3>Header 3</h3>
            <h4>Header 4</h4>
            <h5>Header 5</h5>
            <h6>Header 6</h6>
        </div>
    </div>
</body>
</html>